.mobile-container {
  position: absolute;
  //width: 100%;
  //height: 100%;
  top: 40%;
  left: 0;
  margin: 0 auto;
  z-index: 502;
}

// Hamburger Menu
.mobile-menu {

  display: none;
  top: 0;
  right: 0;
  z-index: 600;

  .header-fixed & {
    position: fixed;
    z-index: 600;
  }

  @include breakpoint(lg) {
    display: block;
  }

  .button_container {
    position: absolute;
    top: 1.3rem;
    right: $horiz-padding;
    height: $mobile-button-height;
    width: $mobile-button-width;
    cursor: pointer;
    z-index: 600;
    transition: opacity .25s ease, top 0.5s ease;

    $bar-offset: $mobile-button-height / 3;

    &:hover {
      opacity: .7;
    }

    &.active {
      position: fixed;

      .top {
        transform: translateY($bar-offset) translateX(0) rotate(45deg);
        background: $mobile-color-active;
      }

      .middle {
        opacity: 0;
        background: $mobile-color-active;
      }

      .bottom {
        transform: translateY(-($bar-offset)) translateX(0) rotate(-45deg);
        background: $mobile-color-active;
      }
    }

    span {
      background: $dark-color;
      border: none;
      height: 4px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .35s ease;
      cursor: pointer;

      &:nth-of-type(2) {
        top: $bar-offset;
      }

      &:nth-of-type(3) {
        top: $bar-offset * 2;
      }
    }
  }
}

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;

  &.open {
    opacity: .95;
    visibility: visible;
    height: 100%;

  }

  .mobile-header {
    display: flex;

    .mobile-logo {

      svg,
      img {
        height: 42px;
        margin-top: .7rem;
        margin-left: 1.4rem;

        path {
          fill: $light-color;
        }

      }
    }

    .mobile-social {
      margin-left: 1rem;
      display: flex;

      a {
        color: white;
        padding-left: .5rem;
        font-size: 1.5rem;

        &:hover {
          color: $light-blue-color;
        }
      }
    }
  }

  nav {

    position: relative;
    margin: 0 auto;
    text-align: center;
  }
}

.overlay-menu {
  height: calc(100% - 90px);
  overflow-y: scroll;

  &>.tree {
    text-align: left;
  }
}


.treemenu {

  &.treemenu-root {
    margin: 1rem;
  }

  li {
    list-style: none;
    margin: 0 0 1px;
    padding: 5px 0;
    line-height: 1.2rem;
    background: rgba($gray-color-dark, 0.1);

    a {
      display: block;
      margin-left: 1.2rem;
      font-size: 1rem;
      color: #ffc113;
      font-weight: bold;
      text-transform: uppercase;
      font-family: $title-font-family;

      &:hover,
      &:focus,
      &.active {
        color: $primary-color-orange !important;
        text-decoration: none;
      }
    }
  }

  ul {
    margin: 0 0 0 1rem;
  }

  .toggler {
    cursor: pointer;
    vertical-align: top;
    font-size: 1.5rem;
    line-height: 1rem;
    padding-left: 5px;
    float: left;

    &:before {
      display: inline-block;
      margin-right: 5pt;
    }
  }

  li.tree-empty>.toggler {
    opacity: 0.6;
    cursor: default;

    &:before {
      content: "\2022";
    }
  }

  li.tree-closed>.toggler:before {
    content: "+";
  }

  li.tree-opened>.toggler:before {
    content: "\2212";
  }
}

.mobile-nav-open {
  overflow-y: hidden;
}

.float-left,
.float-right {
  @include breakpoint(sm) {
    float: none !important;
    display: block;
    margin: 0 auto;
  }
}

.mobile-hide {
  @include breakpoint(sm) {
    display: none;
  }
}

@include breakpoint(sm) {
  body {
    font-size: 12px;
  }
}

@include breakpoint(sm) {
  blockquote {
    margin: 2rem 0;
  }
}