ul.social-icons {
    list-style: none;
    margin-left: 0;
    display: inline-flex;

    li {
        display: inline-flex;
        margin: 0;
        a {
            font-size: 1.5rem;
            padding: .5rem;
        }
    }
}
.bg-darkslategray {
    ul.social-icons {
        li {
            a {
                color: $gray-color-light;
            }
            a:hover {
                background: darken($darkslategray-color, 10%);
            }
        }
    }
}