{% set hero_video = page.header.hero_video ? page.media[page.header.hero_video] : page.media.videos|first %}
<section class="section modular-hero hero video {{ page.header.hero_classes }}" id="video_section">
    <section class="hero-container" style="text-align: center">
        <div class="hero-content">
            {{ content|raw }}
        </div>
    </section>
    <button id="hero_video_button" onclick="videoPlayPause();">
        <i class="far fa-pause-circle"></i>
    </button>
    <button id="video_sound" onclick="videoMuteUnmute();">
        <i class="fas fa-volume-up"></i>
    </button>
    <i class="pulse fa fa-angle-down" id="to-start"></i>
    <div class="video-overlay"></div>
    <video autoplay id="hero_video" loop muted>
        <source src="{{ hero_video.url }}" type="video/mp4">
        <p>Missing video</p>
    </video>
</section>

{% block hero deferred %}
    <style>

        .hero.video {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: 725px;
            max-height: 80vh;
            padding-top: 50px;
            overflow: hidden;
        }
        #hero_video {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            position: absolute;
            bottom: 50%;
            right: 50%;
            -webkit-transform: translateX(50%) translateY(50%);
            transform: translateX(50%) translateY(50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -3;
            overflow: hidden;
        }
        #video_section h1,
        #video_section button {
            -webkit-transition: all 2s ease-in-out 0.5s;
            -moz-transition: all 2s ease-in-out 0.5s;
            -ms-transition: all 2s ease-in-out 0.5s;
            -o-transition: all 2s ease-in-out 0.5s;
            transition: all 2s ease-in-out 0.5s;
        }
        #video_section.disappear h1,
        #video_section.disappear button {
            opacity: 0;
        }
        #video_section.disappear:hover button {
            opacity: 1;
        }
        .video-overlay {
            background-color: #000;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
        .hero-container {
            z-index: -1;
            position: relative;
            padding: 60px 0;
            width: 100%;
        }
        .hero-content {
            padding: 2em;
        }
        #hero_video_button i {
            cursor: pointer;
            font-size: 4em;
            color: #008000cc;
        }
        #hero_video_button,
        #video_sound {

            background: transparent;
            border: none;
            display: inline-block;
            margin: 0 auto;
            cursor: pointer;
            position: absolute;
        }
        #hero_video_button {
            bottom: 8rem;
        }
        #video_sound {
            bottom: 1rem;
            right: 1rem;
        }
        #video_sound i {
            cursor: pointer;
            font-size: 2rem;
            color: #ffffff40;
        }
        #hero_video_button:hover {
            background: transparent;
            border: none;
        }
        .hero #to-start {
            font-size: 3rem;
            margin: 0 auto;
            padding: 0;
            bottom: 1rem;
        }
    </style>
    <script>
        var video = document.getElementById("hero_video");
        var btn = document.getElementById("hero_video_button");
        var sound_button = document.getElementById("video_sound");
        function videoPlayPause() {
            if (video.paused) {
                video.play();
                btn.innerHTML = "<i class='far fa-pause-circle'></i>";
            } else {
                video.pause();
                btn.innerHTML = "<i class='far fa-play-circle'></i>";
            }
        }
        function videoMuteUnmute() {
            if (video.muted) {
                video.muted = false;
                sound_button.innerHTML = "<i class='fas fa-volume-mute'></i>";
            } else {
                video.muted = true;
                sound_button.innerHTML = "<i class='fas fa-volume-up'></i>";
            }
        }
        window.onload = function (event) {
            var disappear = document.getElementById("video_section");
            disappear.classList.add("disappear");
        }
    </script>
{% endblock %}
