<link
rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
<section class="section modular-leaflet">
    <section class="container bg-green section-header text-center">
        <h1 class="black-line">{{ page.header.title }}</h1>
    </section>
    <section class="container leaflet bg-darkslategray">
        <div class="columns">
            <div class="column col-sm-12 col-md-6">
                <div id="leaflet_map"></div>
            </div>
            <div class="column col-sm-12 col-md-6">
                <div class="leaflet-content" id="leaflet_content">
                    {% for chapter in page.header.chapters %}
                        <div id="{{ chapter.id }}" style="display: {{ chapter.id == 'los-angeles' ? 'block' : 'none' }};">
                            <h2>{{ chapter.name }}</h2>
                            <div class="social">
                                {% include "partials/social.html.twig" with {p: chapter} %}
                            </div>
                            <p class="introduction">{{ chapter.introduction }}</p>
                            <h3>Events</h3>
                            <div id="{{ chapter.id }}_events"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>
<style>
    #leaflet_map {
        height: 100vh;
        width: 100%;
    }
</style>
<script>
    // output page yaml as JSON object
    const chapters = {{ page.header.chapters | json_encode | raw }};
    // colors to cycle through for events
    let bgColors = [
        "bg-lemon",
        "bg-yellow",
        "bg-light-green",
        "bg-pink",
        "bg-angry",
        "bg-red",
        "bg-bright-pink",
        "bg-blue",
        "bg-dark-blue",
        "bg-purple",
        "bg-green",
    ];

    // vanilla JS JSON ajax call
    function getJSON(url, callback) {
        let xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function () {
            let status = xhr.status;
            if (status === 200) {
                callback(null, xhr.response);
            } else {
                callback(status, xhr.response);
            }
        };
        xhr.send();
    }

    // Time String -> Date
    // Action Network returns a local time string masquerading as a UTC time
    function toDisplayTime(dateStr) {
        const dateComponents = (dateStr.split("T")[0]).split("-")
        const startTime = new Date(+ dateComponents[0], + dateComponents[1] - 1, + dateComponents[2])
        const timeComponents = dateStr.split("T")[1].split(":")
        const hourOf24 = + timeComponents[0]
        const timeSuffix = hourOf24 > 11 ? "pm" : "am"
        const hour = hourOf24 > 12 ? hourOf24 - 12 : (hourOf24 == 0 ? 12 : hourOf24)
        return `${
            startTime.toDateString()
        } ${hour}:${
            timeComponents[1]
        }${timeSuffix}`
    }

    // Rotate colors
    function rotate(arr, shouldRotateBackwards) {
        if (shouldRotateBackwards) {
            arr.unshift(arr.pop())
        } else {
            arr.push(arr.shift())
        }
        return arr
    }

    // Parses chapter JSON and creates HTML in the chapters div
    function showEvents(events) { // loop through the California chapters
        for (chapter in chapters) { // get the div to place this chapters events into
            let container = document.getElementById(chapters[chapter].id + '_events');

            let eventsToShow = events[chapter];

            // if the chapter has no events return "No events."
            if (typeof eventsToShow == "undefined" || eventsToShow.length == 0) {
                container.appendChild(document.createTextNode("No events."));
            } else {
                eventsToShow.sort((a, b) => (+ new Date(a.start_date.split("T")[0])) - (+ new Date(b.start_date.split("T")[0])));

                let elements = eventsToShow.map((event) => {
                    rotate(bgColors);

                    let image = event.featured_image_url ? "<img src=" + event.featured_image_url + " />" : "";
                    return document.createRange().createContextualFragment("<div class=\"event " + bgColors[0] + "\">" + image + "<div class=\"event-body\"><h2>" + event["action_network:sponsor"].title + ":" + event.title + "</h2>When: <em>" + toDisplayTime(event.start_date) + "</em><br/>Where: <em>" + event.location.venue + "</em>" + (
                        (event.location.address_lines || []).join(", ") + ", " + event.location.locality + ", " + event.location.region
                    ) + "<details class=\"details\"><summary><span>Event details</span></summary>" + "<div class=\"description\">" + event.description + "</div><h3>Instructions for participants</h3>" + "<div class=\"instructions\">" + event.instructions + "</div></details></div></div>");
                });
                elements.forEach((element) => container.appendChild(element));
            }
        }
    }

    // display chapter in sidepanel
    function popChapter(id) { // hide all chapters
        for (chapter in chapters) {
            let hide_chapter_desc = document.getElementById(chapters[chapter].id);
            hide_chapter_desc.style.display = "none";
        }
        // chrome bug
        location.href = "#";
        location.href = "#leaflet_content";
        const chapter_desc = document.getElementById(id);
        chapter_desc.style.display = "block";
    }

    // get JSON for chapter events from XR US
    getJSON('https://chapters.extinctionrebellion.us/events.json', function (err, events) {
        if (err !== null) {
            alert('We failed to fetch events JSON, please try reloading your browser.');
        }
        showEvents(events);
    });

    // initialize map
    let chapterMap = L.map('leaflet_map', {
        center: [
            37, -119
        ],
        zoom: 6,
        zoomControl: false,
        scrollWheelZoom: false
    });

    // setup map tiles and styling
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.light',
        accessToken: 'pk.eyJ1IjoibWFydmlucm9tYW4iLCJhIjoiY2p6ZHRpOXBzMGtrZTNtbjV2cXEyc3AwcCJ9.FYsd2In1-fzdIqmYOWx0Yg'
    }).addTo(chapterMap);

    // loop through chapters from leaflet.md & add markers for chapters to map
    for (chapter in chapters) {
        L.marker([
            chapters[chapter].lat,
            chapters[chapter].lng
        ]).addTo(chapterMap).bindPopup("<strong>" + chapters[chapter].name + "</strong><br><a onclick=\"popChapter('" + chapters[chapter].id + "');\">View Details</a>");
    }
</script>
