{% if authorize(['admin.pages', 'admin.super']) %}
    <div id="latest">
        <div class="button-bar">
            <a class="button" href="{{ base_url_relative }}/pages"><i class="fa fa-fw fa-file-text-o"></i>{{ "PLUGIN_ADMIN.MANAGE_PAGES"|tu }}</a>
        </div>
        <h1>{{ "PLUGIN_ADMIN.LATEST_PAGE_UPDATES"|tu }}</h1>
        <table>
        {% for latest in admin.latestPages if admin.latestPages %}
            {% set route = latest.rawRoute %}
            <tr>
                <td class="triple page-title">
                    <a href="{{ base_url }}/pages/{{ route|trim('/') }}"><i class="fa fa-fw fa-file-text-o"></i> {{ latest.title }}</a></td>
                <td class="triple page-route">{{ route }}</td><td>{{ latest.modified|adminNicetime }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% else %}
    <div class="padding">You don't have sufficient access to view the dashboard...</div>
{% endif %}
