{% if page.header.header_image_credit %}
    {% set image_credit = page.header.header_image_credit %}
    {% set image_creditlink = page.header.header_image_creditlink %}
{% elseif header_image_media.meta.header_image_credit  %}
    {% set image_credit = header_image_media.meta.header_image_credit %}
    {% set image_creditlink = header_image_media.meta.header_image_creditlink %}
    {% set image_alt_text = header_image_media.meta.header_image_alt_text %}
{% endif %}
{% set hero_portrait_image = page.header.hero_portrait_image ? page.media[page.header.hero_portrait_image] : '' %}

{% if page.header.hero_caption %}
    {% set hero_caption = page.header.hero_caption %}
{% endif %}

{% if page.header.banner_above %}
    <section class="{{ page.header.banner_above.classes }}" style="margin-top: 4rem;">
        <h1>{{ page.header.banner_above.text }}</h1>
    </section>
{% endif %}
<section id="{{ id }}" class="section modular-hero landscape {% if page.header.simplehero %} hero-simple {% endif %} hero {{ page.header.hero_classes }} {{ page.header.background.parallax ? 'parallax' : '' }}" {% if hero_image %} style="background-image: url('{{ hero_image.url }}');" {% endif %}>

    <div class="image-overlay"></div>
    <section class="container" style="text-align: {{ page.header.hero_align|default('center') }}">
        {% if page.header.simplehero %}
            <h1>{{ page.header.title }}</h1>
        {% else %}
            {{ content|raw }}
        {% endif %}
    </section>
    {% if image_credit or hero_caption %}
        <div class="image-caption">
            {{ hero_caption|raw }}
            <span class="image-credit">
                {% if image_creditlink %}
                    <em>Image by:
                        <a class="newwindow external-link" href="{{ image_creditlink }}">{{ image_credit }}</a>
                    </em>
                {% else %}
                    <em>Image by:
                        {{ image_credit }}</em>
                {% endif %}
            </span>
        </div>
    {% endif %}

    {% if not page.header.simplehero %}
        <i class="pulse fa fa-angle-down" id="to-start"></i>
    {% endif %}
</section>
{% if hero_portrait_image %}
    <section class="section modular-hero portrait {% if page.header.simplehero %} hero-simple {% endif %} hero {{ page.header.hero_classes }} {{ page.header.background.parallax ? 'parallax' : '' }}" style="background-image: url('{{ hero_portrait_image.url }}');">
        <div class="image-overlay"></div>
        <section class="container" style="text-align: {{ page.header.hero_align|default('center') }}">
            {% if page.header.simplehero %}
                <h1>{{ page.header.title }}</h1>
            {% else %}
                {{ content|raw }}
            {% endif %}
        </section>

        {% if not page.header.simplehero %}
            <i class="pulse fa fa-angle-down" id="to-start"></i>
        {% endif %}
    </section>
{% endif %}
