{% set terms = page.find('/modules/terms/') %}

<div class="modal modal-lg" id="terms">
    <div class="modal-overlay">
        <div class="modal-container modal-fullheight">
            <div class="modal-header">
                <h1 class="red-line text-center">{{ terms.header.title }}</h1>
                <span class="close" onclick="hideTerms();">
                    <i class="far fa-times-circle"></i>
                </span>
            </div>
            <div class="modal-body">
                {{ terms.content|raw }}
            </div>
        </div>
    </div>
</div>
<script>
    function showTerms() {
        $("#terms").addClass("active");
    }
    function hideTerms() {
        $("#terms").removeClass("active");
    }
</script>
