{% if p is not defined %}
    {% set social = page.find("/modules/social/") %}
    {% set p = social.header %}
{% endif %}
<ul class="social-icons">
    {% if p.website %}
        <li>
            <a href="{{ p.website }}" rel="nofollow noopener noreferrer" target="_blank" title="website">
                <i class="fas fa-link"></i>
            </a>
        </li>
    {% endif %}
    {% if p.twitter %}
        <li>
            <a href="{{ p.twitter }}" rel="nofollow noopener noreferrer" target="_blank" title="twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    {% endif %}
    {% if p.instagram %}
        <li>
            <a href="{{ p.instagram }}" rel="nofollow noopener noreferrer" target="_blank" title="instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    {% endif %}
    {% if p.facebook %}
        <li>
            <a href="{{ p.facebook }}" rel="nofollow noopener noreferrer" target="_blank" title="facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
    {% endif %}
    {% if p.signup %}
        <li>
            <a href="{{ p.signup }}" rel="nofollow noopener noreferrer" target="_blank" title="signup">
                <i class="fas fa-user-plus"></i>
            </a>
        </li>
    {% endif %}
    {% if p.donate %}
        <li>
            <a href="{{ p.donate }}" rel="nofollow noopener noreferrer" target="_blank" title="donate">
                <i class="fas fa-hand-holding-usd"></i>
            </a>
        </li>
    {% endif %}

</ul>
