@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Inconsolata:400,700|&subset=latin-ext");
body, h5, h6,
.badge, .note, .grav-mdeditor-preview,
input, select, textarea, button, .selectize-input {
  font-family: "Roboto", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

h1, h2, h3, h4,
.form-tabs > label, .label {
  font-family: "Josefin Slab", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

code, kbd, pre, samp,
body .CodeMirror {
  font-family: "Inconsolata", "Monaco", "Consolas", "Lucida Console", monospace !important;
}
/*# sourceMappingURL=fonts.css.map */