// Background color utility mixin
@mixin bg-color-variant($name: ".bg-primary", $color: $primary-color) {
  #{$name} {
    background: $color !important;

    @if (lightness($color) < 60) {
      color: $light-color;
    }
  }
}

// Text color utility mixin
@mixin text-color-variant($name: ".text-primary", $color: $primary-color) {
  #{$name} {
    color: $color !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: rgba($color, 0.9);
    }

    a {
      color: $color !important;
    }
  }

  a#{$name} {

    &:focus,
    &:hover {
      color: darken($color, 5%);
    }

    &:visited {
      color: lighten($color, 5%);
    }
  }
}